.container {
  padding: 0 2rem;
  background-image: url("/wave2.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  min-height: calc(100vh - 70px);
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.aboutInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 65%;
  animation: aboutInfoAnim 0.5s linear;
}

@keyframes aboutInfoAnim {
  from {
    /* top: -10%; */
    transform: translateX(500px);
  }

  to {
    /* top: 0%; */
    transform: translateX(0px);
  }
}

.aboutInfo h1 {
  color: #1890ff;
}

.imgContainer {
  width: 30%;
  margin: 20px 0;
}

.imgContainer img {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  width: 70%;
  height: 380px;
  border-radius: 10px;
  animation: imgAnim 0.5s linear;
}

.responsiveImg {
  width: 30%;
  height: 300px;
  border-radius: 10px;
  display: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.skillsContainer {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  margin-top: 20px;
}

.skillsContainer h2 {
  color: #1890ff;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill {
  margin: 15px;
}

@media screen and (max-width: 768px) {
  .imgContainer {
    display: none;
  }
  .aboutInfo {
    width: 100%;
  }
  .responsiveImg {
    display: block;
    width: 200px;
    margin-bottom: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .skills {
  }
  .skill {
    margin: 10px;
  }
}
