.container {
  padding: 0 2rem;
  
}

.main {
  /* min-height: 100vh; */
  min-height: calc(100vh - 70px);
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.description {
  width: 60%;
}

.description h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
  width: 22ch;
  -webkit-animation: typing 2s steps(21, end),
    blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.description h3 {
  margin-bottom: 20px;
}

.socialLinks {
  margin-top: 40px;
}

.socialLinks button,
.socialLinks a {
  margin-right: 20px;
}

.buttons {
}

.imgContainer {
  width: 40%;
  height: 100%;
}

.imgContainer img {
  width: 90%;
  height: 90%;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  transform: translateY(30px);
  animation: imgAnim 3s cubic-bezier(0.68, -0.55, 0.565, 1.55);
}

@keyframes imgAnim {
  from {
    /* top: -10%; */
    transform: translateY(30px);
    transform: translateX(500px);
  }

  to {
    /* top: 0%; */
    transform: translateX(0px);
    transform: translateY(30px);
  }
}

@media screen and (max-width: 700px) {
  .main {
    flex-direction: column;
    z-index: -100;
  }
  .imgContainer {
    position: absolute;
    z-index: -100;
    width: 100%;
  }
  .imgContainer img {
    animation: none;
    display: none;
    opacity: 0.1;
  }

  .description {
    width: 100%;
    /* flex-wrap: wrap; */
    /* backdrop-filter: blur(50px); */
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .description h2 {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2rem;
  }

  .description span {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
  }

  .buttons button {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  .socialLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .socialLinks a {
    margin-right: 5px;
  }
}
