.navContainer {
  width: 100%;
  height: 70px;
  background-color: transparent;
  color: #000;
  padding: 0 2rem;
  padding-top: 10px;
  z-index: 100;

  /* position: sticky;
  top: 0%; */
  /* -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); */

  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  animation: navbarAnim 1.5s cubic-bezier(0.68, -0.55, 0.565, 0);
}

@keyframes navbarAnim {
  from {
    /* top: -10%; */
    transform: translateY(-70px);
  }

  to {
    /* top: 0%; */
    transform: translateY(0px);
  }
}

.navigationContainer {
  list-style: none;
}

.list {
  display: flex;
  /* align-items: center; */
  /* justify-content: flex-start; */
  flex-direction: column;
}
/* .list button,
.list a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;

} */

.listItem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.imgContainer {
}

.active {
  color: #1890ff;
  /* background-color: black; */
}

.menuButton {
  display: none;
}

.navigationContainer li {
  display: flex;
  align-items: center;
  float: left;
  margin: 0 20px;
  padding: 7px 15px;
  /* background-color: rgba(172, 172, 218, 0.244); */
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navContainer a {
  color: #000;
}

.navigationContainer li:hover {
  opacity: 0.5;
}

.navigationContainer li:active {
  background-color: rgb(13, 13, 18);
}

@media screen and (max-width: 768px) {
  .navContainer {
    z-index: 100;
  }
  .navigationContainer {
    display: none;
  }
  .menuButton {
    display: block;
  }
}
