.container {
  padding: 0 2rem;
  background-image: url("/wave3.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  min-height: calc(100vh - 70px);
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  color: #1890ff;
  margin-bottom: 30px;
}

.projectsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .projectsContainer div {
    margin-right: 0px;
  }
}
